body {
    background-color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
li {
    float: left;
}
h1 {
    background-color: white;
    display: block;
    width:740px;
}
a {
    background-color: white;
    display: block;
    width: 400px;
    height: 40px;
     z-index: -1;
}
table, th, td {
   border: 2px solid black;
}
footer { 
    display: block;
    position: absolute;
    left: 10px;
    top: 650px;
}

#signup {
    background-color: #FF6666; 
    position: absolute;
    left: 10px;
    top: 100px;
    width:740px;
    height:800px;
    padding: 25px;
    border: 5px solid black;
    margin: 0px;
    z-index: -1;
}

#field {
    background-color: White; 
    position: absolute;
    left: 20px;
    padding: 25px;
    border: 5px solid black;
    margin: 0px;
    z-index: -2;
}


#name1 {
    background-color: #FF6666; 
    position: absolute;
    left: 10px;
    top: 100px;
    width:740px;
    height:1000px;
    padding: 25px;
    border: 5px solid black;
    margin: 0px;
    z-index: -1;
}

#application {
    background-color: #FF6666; 
    position: absolute;
    left: 10px;
    top: 100px;
    width:740px;
    height:1200px;
    padding: 25px;
    border: 5px solid black;
    margin: 0px;
    
}
#courses {
    background-color: #FF6666; 
    position: absolute;
    left: 0px;
    top: 125px;
    width:740px;
    height:650px;
    padding: 25px;
    border: 5px solid black;
    margin: 0px;
}

#nav {
    background-color: white;
    display: block;
    width: 800px;
    height: 40px;
     z-index: -1;
}